<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <title>Portfolios</title>
    </head>
    <body>
        {{> header}}
        <p>New Projects go here</p>
        {{> footer}}
    </body>
</html>